@import url("https://fonts.googleapis.com/css?family=Pontano+Sans");

.body-vista-paquete {
    font-family: "Pontano Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #888;
    background: #fff;
    text-rendering: optimizeLegibility;
}
.ul-list-images-paquete {
    padding: 0;
    margin: 0;
    list-style: none;
}
.a-url-descripcion-paquete {
    color: #888;
    text-decoration: none;
    transition: all 0.2s ease;
}
.a-url-descripcion-paquete:hover {
    color: #333;
}
.a-url-descripcion-paquete.active {
    color: #333;
}
.title-descripcion-paquete,
.precio-descripcion-paquete {
    color: #333;
    font-weight: normal;
    margin: 1.75rem 0 1rem 0;
}
.title-descripcion-paquete {
    margin-bottom: 0;
    font-size: 2.5rem;
}
.precio-descripcion-paquete {
    text-decoration: line-through;
    color: #53514e;
    font-size: 2.125rem;
    margin: 0;
}
.img-descripcion-paquete {
    /* max-width: 100%; */
    height: 200px;
    width: 100%;
    object-fit: cover;
}
/* .flex-nav ul.active {
    display: flex;
} */
.flex-nav ul li {
    margin: 0.5rem 0;
}
.toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1.125rem;
    line-height: 1.7;
    margin: 1rem 0;
}
.toggle-nav i {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 0 0 0 0.5rem;
}
#highlight {
    color: #333;
    font-size: 1.125rem;
    text-transform: uppercase;
}
.price {
    margin: 0;
}
.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}
.breadcrumb-list li {
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.breadcrumb-item.active {
    color: #333;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}
.description {
    border-top: 0.0625rem solid #e3dddd;
    margin: 2rem 0;
    padding: 1rem 0 0 0;
}
.add-to-cart {
    position: relative;
    display: inline-block;
    background: #3e3e3f;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 1.25rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateZ(0);
    transition: color 0.3s ease;
    letter-spacing: 0.0625rem;
}
.add-to-cart:hover::before {
    transform: scaleX(1);
}
.add-to-cart::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #565657;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}
.container-mostrar {
    margin: auto;
    padding: 0 1rem;
    max-width: 75rem;
    width: 100%;
    padding-top: 2%;
}
.grid > [class*="column-"] {
    padding: 1rem;
}
.grid.menu,
.grid.product {
    border-bottom: 0.0625rem solid #e3dddd;
}
.grid.menu > [class*="column-"] {
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.grid.product {
    padding: 0 0 1.5rem 0;
}
.product-image {
    /* display: none; */
    width: 100%;
    /* height: 250px; */
}
.image-list {
    margin: 0;
}
.div-image {
    padding: 0;
}
.img-producto-mostrar {
    margin-bottom: 4px;
    object-fit: cover;
    width: 100%;
    height: 280px;
}
.contenedor-informacion-paquete {
    margin-top: 5%;
    margin-bottom: 5%;
}
.banner-descripcion-paquete {
    background-color: gainsboro;
    padding: 3%;
    border-radius: 24px;
}
.div-contenido {
    text-align: center;
}
.descripcion-elemento-informacion {
    text-align: left;
}
.title-info-paquete {
    margin-bottom: 48px;
}
.img-vista-producto:hover {
    transition: 1.2s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.img-vista-paquete, .div-image {
    overflow: hidden;
}
.div-precios-paquete {
    align-items: baseline;
}
.precio-final-paquete {
    color: black;
    font-size: 48px;
    padding: 0;
    margin: 0;
}